.imageAboutPage {
    width: 100%;
    margin-top: 0;
    padding-right: 20px;
}
   
.servicesText.card {
        height: px;
        cursor: pointer;
}
    
.servicesIcon {
        font-size: 100px;
        text-align: center;
        width: 100%;
}

body{
    text-align: center;   
}